.main{
    margin: auto;
    margin-top: auto;
    width: 640px;
    height: 640px;
    border: solid black;
}

.row1 , .row2,.row3,.row4,.row5,.row6,.row7,.row8{
   
    margin-bottom: auto;
    width: 640px;
    height: 80px;
    background-color: aliceblue;
    display: flex;
}
.odd1{
    background-color: olivedrab;
    width: 80px ;
    height: 80px;
    text-align: center;
    color: rgb(245, 244, 230);
    font-weight: bolder;

}
.even1{
    background-color: rgba(211, 202, 28, 0.216);
    width: 80px;
    height: 80px;
    text-align: center ;
    color: rgb(70, 92, 26);
    font-weight: bolder;
    text-align: center;
}